<h1>The Cuddle Zone</h1>


<!-- Site Container -->
<div class="container">
  <!-- Profile Summary Container -->
  <div class="row">
    <aside class="col-4">
      <div class="sticky sticky-with-header sticky-top">
        <div class="container">
          <div class="user-greeting"><p>Hey, there</p></div>
        </div>
        <section>
        <div class="card-profile"> <!-- style="width: 16rem;" -->
          <%= image_tag "https://images.unsplash.com/photo-1518259102261-b40117eabbc9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80", class: "avatar-profile" %>
          <div>
            <div class="seperator"><hr></div>
          </div>
          <div class="card-body">
            <h5 class="card-title">Profile</h5>
            <p>Hey! My Name is Paul and I love furry friends. I've made great experiences here and I'm thinking of becoming a Cuties owner myself. Until then: gotta cuddle some more!</p>
            <h6 class="text-link">Edit  <i class="fas fa-pen"></i></h6>
          </div>
            <div class="seperator"><hr></div>
        </div>
      </div>
    </aside>
  <!-- Container with Bookings -->
    <div class="col-8">
        <ul class="list-inline tabs-underlined justify-content-center">
          <li class="tab-in-list">
            <%= link_to "Bookings", dashboard_path, class: "tab-underlined bookings-acvtive" %>
          </li>
          <li class="tab-in-list">
            <%= link_to "Cuties", dashboard_cuties_path, class: "tab-underlined" %>
          </li>
        </ul>
      <% @bookings.each do |booking| %>
        <div class="card-bookings-dashboard">
          <%= cl_image_tag(booking.cutie.photos[0].key, class: "card-image", crop: :fill ,gravity: :face) %>
          <div class="card-booking-infos">
            <div>
              <h2><%= booking.cutie.name %></h2>
              <p><%= booking.start_date %> <%= booking.end_date %></p>
            </div>
            <div class="comment-paw">
              <%= link_to ('Create Review <i class="fas fa-paw"></i>').html_safe, new_booking_review_path(booking), class: "create-review" %>
            </div>
              <h2 class="card-booking-pricing">320.00 $</h2>
          </div>
        <% end %>
    </div>
  </div>
</div>
</div>
</section>
