<h1>Your Bookings</h1>


<div class="cards">
<% @bookings.each do |booking| %>
  <div class="row">
    <div class="col-12">
      <ul>
        <li>
          <%= booking.user_id%> <%= booking.cutie.name %> <%= booking.start_date %> <%= booking.end_date  %>
          <%= link_to 'write a review', new_booking_review_path(booking) %>
        </li>
      </ul>
    </div>

  </div>
  </div>
 <% end %>
