<!DOCTYPE html>
<head>
  <title></title>
</head>
</html>

<div class="container">
   <h1> Meet: <%= @cutie.name %> </h1>
   <p class="description"> <%= @cutie.description %> <%= @cutie.species %> </p>
  <div class="flexbox">
  <%= cl_image_tag @cutie.photos[0].key %>
    <div class="reviews">
      <h4>What other pet lover say</h4>

        <div class="content_review">
        <% @bookings.each do |booking| %>
        <% booking.reviews.each do |review| %>

          <p class="title"> <%= review.title %>!</p>
          <p class="content"><%= review.content %></p>
        <% end %>
        <% end %>


        </div>
        <div class="card-booking">
          <%= render "./bookings/booking_form.html.erb", booking: @booking %>
      </div>
      </div>
    </div>
</div>



